In [3]:
name = "Akshitaa"
city = 'Hyderabad'

In [4]:
print('Information about me')
print(name)
print(city)

Information about me
Akshitaa
Hyderabad

In [5]:
print('Information about me:',name,city)

Information about me: Akshitaa Hyderabad

In [6]:
print('I am',name,'and i live in',city)

I am Akshitaa and i live in Hyderabad

In [7]:
print(f"I am {name} and i live in {city}")

I am Akshitaa and i live in Hyderabad

In [8]:
n1 = "Amjad"
c1 = 'Lucknow'
n2, c2 = "Aman", 'Lucknow'
n3, c3 = 'Bhupendra','Lucknow'
n4, c4 = 'Sia','Lucknow'

### text alignment
- `<` left
- `^` center
- `>` right

In [9]:
print (f'1. {n1:^15} {c1}')
print (f'2. {n2:^15} {c2}')
print (f'3. {n3:^15} {c3}')
print (f'4. {n4:^15} {c4}')

1.      Amjad      Lucknow
2.      Aman       Lucknow
3.    Bhupendra    Lucknow
4.       Sia       Lucknow

In [10]:
print(n1,n2,n3,n4)

Amjad Aman Bhupendra Sia

In [11]:
print(n1,n2,n3,n4,sep='\t')

Amjad	Aman	Bhupendra	Sia

In [12]:
print(n1,n2,n3,n4, sep='\n')

Amjad
Aman
Bhupendra
Sia

In [13]:
print(n1,n2,n3,n4, sep=',')

Amjad,Aman,Bhupendra,Sia

In [14]:
city = input("Please enter the city you want to go")
month = input("Enter the month name")
print(f'{city} in {month}')

Luxemberg in June

Type Casting - Converting one data type to another

In [16]:
x = "1000"
print(f'{x} {type(x)}')
y = int(x)
print(f'{y} {type(y)}')

x = "1.2356"
print(f'{x} {type(x)}')
x = str(x)
print(f'{x} type(x)')

1000 <class 'str'>
1000 <class 'int'>
1.2356 <class 'str'>
1.2356 type(x)