In [6]:
name = "Akshitaa"
city = 'Hyderabad'

In [7]:
print('Information about me')
print(name)
print(city)

Information about me
Akshitaa
Hyderabad

In [8]:
print('Information about me:',name,city)

Information about me: Akshitaa Hyderabad

In [9]:
print('I am',name,'and i live in',city)

I am Akshitaa and i live in Hyderabad

In [12]:
print(f"I am {name} and i live in {city}")

I am Akshitaa and i live in Hyderabad

In [9]:
n1 = "Amjad"
c1 = 'Lucknow'
n2, c2 = "Aman", 'Lucknow'
n3, c3 = 'Bhupendra','Lucknow'
n4, c4 = 'Sia','Lucknow'

### text alignment
- `<` left
- `^` center
- `>` right

In [30]:
print (f'1. {n1:^15} {c1}')
print (f'2. {n2:^15} {c2}')
print (f'3. {n3:^15} {c3}')
print (f'4. {n4:^15} {c4}')

1.      Amjad      Lucknow
2.      Aman       Lucknow
3.    Bhupendra    Lucknow
4.       Sia       Lucknow

In [36]:
print(n1,n2,n3,n4)

Amjad Aman Bhupendra Sia

In [10]:
print(n1,n2,n3,n4,sep='\t')

Amjad	Aman	Bhupendra	Sia

In [34]:
print(n1,n2,n3,n4, sep='\n')

Amjad
Aman
Bhupendra
Sia

In [35]:
print(n1,n2,n3,n4, sep=',')

Amjad,Aman,Bhupendra,Sia